<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rejestracja</title>
</head>
<body>
<h1>Rejestracja</h1>

<form action="/register" method="post">
    <input type="email" name="email" placeholder="Adres e-mail">
    <input type="password" name="password" placeholder="Hasło">
    <input type="password" name="confirmPassword" placeholder="Potwierdź hasło">
    <input type="text" name="firstName" placeholder="Imię">
    <input type="text" name="lastName" placeholder="Nazwisko">
    <input type="submit" value="Zarejestruj się">
</form>
</body>
</html>