<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edytuj Użytkownika</title>
</head>
<body>
<h1>Edytuj Użytkownika</h1>
<form th:action="@{/users/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
    <!-- Pola formularza do edycji użytkownika -->
    <input type="text" th:field="*{firstName}" placeholder="Imię"/>
    <input type="text" th:field="*{lastName}" placeholder="Nazwisko"/>
    <!-- inne pola -->
    <input type="submit" value="Zapisz"/>
</form>
</body>
</html>